/*Menu START*/
.menu_mobile {
  width: 100%;
  margin-right: -100%;
}

.menu_mobile_inner {
  padding: 10em 2em 6em 2em;
}

.scheme_dark .menu_side_inner, .scheme_dark .menu_mobile_inner {
  background-color: rgba(10,10,10,0.85)
}

.menu_mobile .menu_mobile_nav_area ul li {
  font-weight: 700;
  padding-right: .5rem;
}

.menu_mobile .menu_mobile_nav_area li.menu-item-has-children>a {
  padding-right: 0;
}

.menu_mobile .menu_mobile_nav>.menu-item {
  border-bottom: 1px solid #e39a31;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.menu_mobile .menu_mobile_nav>.menu-item:last-child {
  margin-right: 0;
  border-bottom: none;
  border-right: none;
}

.open_child_menu {
  display: none;
}

.menu_mobile .menu_mobile_nav_area ul .sub-menu li {
  font-weight: 300;
  padding-right: 0rem;
}

.menu_mobile .menu_mobile_nav_area ul ul {
  display: block !important;
  margin-left: .5rem;
}

.menu_mobile .socials_mobile {
  position: static;
  margin: 0;
}

@media (min-width: 959px) {
  .menu_mobile .menu_mobile_nav_area ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .menu_mobile .menu_mobile_nav>.menu-item {
    margin-right: .5rem;
    border-right: 1px solid #e39a31;
    border-bottom: none;
  }
}

@media (min-width: 1300px) {
  .menu_mobile_inner {
    padding: 10em 9em 6em 9em;
  }
}

/*SIDEWAYS DESKTOP MENU DESIGN*/
.menu_desktop {
  display: none;
}

body.menu_style_side {
  padding-right: 0;
} 

@media (min-width: 959px) {
  .menu_side_wrap {
    display: none;
  }

  .menu_desktop {
    display: block;
  }

  .menu_desktop ul.menu_main_nav, 
  .menu_desktop ul.menu_main_nav .menu-item .sub-menu {
    list-style: none;
  }

  .menu_desktop .menu_main_nav_area {
    margin-top: 4rem;
  }

  .menu_desktop ul.menu_main_nav .menu-item a {
    font-size: 1.2em;
    color: #fff;
    text-shadow: 0 0 10px #2a2a2a;
    padding-right: 1rem;
    padding-left: 1rem
  }

  .menu_desktop ul.menu_main_nav .menu-item .sub-menu .menu-item {
    line-height: 2rem;
  }

  .menu_desktop ul.menu_main_nav .menu-item .sub-menu .menu-item a {
    font-size: .8rem;
    color: #2a2a2a;
    text-shadow: none;
  }

  .menu_desktop ul.menu_main_nav>li+li>a:before {
    display: none;
  }
}

@media(min-width: 1439px) {
  .menu_desktop .menu_main_nav_area {
    margin-top: 5rem;
  }
}
/*SIDEWAYS DESKTOP MENU DESIGN END*/
/*Menu END*/

/*Header Slider START*/
.menu_style_side .wrap.header-slider {
  width: 100%;
  border-bottom: 2px solid #e39a31;
}

@media(min-width:769px){
  .menu_style_side .wrap.header-slider {
    border-bottom: none;
    margin-bottom: 5rem;
  }
}

.scheme_default .tp-bullets.custom .tp-bullet {
  border-color: #fff;
}

.scheme_default .tp-bullets.custom .tp-bullet.selected {
  border-color: #fff;
  background-color: #fff;
}

.logo_footer_wrap_inner img {
  width: 320px;
}

/*Headers Logo*/
.logo img {
  height: 50px;
}

@media (min-width: 959px) {
  .logo img {
    height: 80px;
  }
}

.mobile_layout .top_panel.without_bg_image .logo img {
  height: 20px;
}

@media (min-width: 480px) {
  .mobile_layout .top_panel.without_bg_image .logo img {
    height: 50px;
  }
  .mobile_layout .top_panel.without_bg_image .logo {
      float: none;
  }
}

@media (min-width: 480px) {
  .top_panel.without_bg_image .top_panel_title_wrap {
    top: 9rem;
  }
}

body:not(.single) .top_panel {
  margin-bottom: 4rem;
}

@media (min-width: 959px) {
  header .desktop_logo_menu_container {
    margin: 0 auto;
    width: 900px
  }

  .top_panel.without_bg_image .top_panel_title_wrap {
    top: 0;
  }
  body:not(.single) .top_panel {
    margin-bottom: 0;
  }

  .desktop_layout .top_panel_navi {
    float: left;
  }

  .menu_style_side .wrap {
    width: auto;
  }

  .desktop_layout .top_panel.without_bg_image .logo {
    margin: 0;
  }

  .desktop_layout .top_panel_navi .logo img {
    height: 60px;
  }

  .desktop_layout .menu_desktop {

  }
}

@media (min-width: 1023px) {
  header .desktop_logo_menu_container {
    margin: 0 auto;
    width: 1000px
  }
}
/*Headers Logo End*/

header .menu_main_wrap.main_menu_index {
  padding: .2rem;
}

.wrap.header-slider .tp-parallax-wrap {
  width: 100%;
  position: static !important;
}

.wrap.header-slider .tp-parallax-wrap .tp-loop-wrap {
  position: static !important;
}

.wrap.header-slider .tp-parallax-wrap .tp-loop-wrap .tp-mask-wrap {
  width: 100% !important;
  height: 100% !important;
  top: 0;
}

.wrap.header-slider .tp-parallax-wrap .tp-loop-wrap .tp-mask-wrap h1 {
  top: 60%;
  width: 80%;
  margin: 0 auto !important;
}

.wrap.header-slider .tp-parallax-wrap .tp-loop-wrap .tp-mask-wrap img {
  width: 100% !important;
  height: auto !important;
}

.wrap.header-slider h1.tp-caption.shop_slider_title {
  width: 100%;
  max-width: 100% !important;
  text-align: center;
}

.wrap.header-slider h1.tp-caption.shop_slider_title a.shop-title-link {
  color: #fff;
  text-shadow: 0 0 10px #2a2a2a;
}
/*Header Slider END*/

/*Startpage Sections*/
/*Contact box*/
.vc_custom_1466154433105 .column-4_12:last-child {
  border-top: 2px solid #e39a31;
}

@media(min-width:769px){
  .row.intro-section {
    min-height: auto!important;
  }
  .row.intro-section .wpb_column {
    width: 600px;
    display: block;
    margin: 0 auto;
    margin-bottom: 7rem;
    position: relative;
  }

  .row.intro-section .wpb_column:after {
    content: '';
    position: absolute;
    bottom: -3.5rem;
    left: 10%;
    width: 80%;
    height: 0;
    border-bottom: 1px solid #e39a31;
  }

  .vc_custom_1466154433105 .column-4_12:last-child {
    border-top: none;
  }
}

@media(min-width:960px){
  .row.intro-section {
  }

  .row.intro-section .wpb_column {
    width: 900px;
  }
}

@media(min-width:1023px){
  .row.intro-section .wpb_column {
    width: 1000px;
  }

  .row.intro-section .sc_promo {
    height: 460px;
  }

  .row.intro-section .sc_promo .trx_addons_stretch_height {
    min-height: 55vh;
  }
}
/*Startpage Sections END*/

/*Product list Buy Wines*/
.woocommerce ul.products li.product .post_item {
  height: 330px;
}

@media (min-width: 480px) {
  .woocommerce ul.products li.product .post_item {
    height: 420px;
  }
}

@media (min-width: 600px) {
  .woocommerce ul.products li.product .post_item {
    height: 550px;
  }
}

@media (min-width: 768px) {
  .woocommerce ul.products li.product .post_item {
    height: 320px;
  }
}

@media (min-width: 960px) {
  .woocommerce ul.products li.product .post_item {
    height: 400px;
  }
}

@media (min-width: 1440px) {
  .woocommerce ul.products li.product .post_item {
    height: 500px;
  }
}
/*Product list Buy Wines END*/