
/*Menu START*/
/* body.menu_style_side {
  padding-right: 0;
} */

.menu_mobile {
  width: 100%;
  margin-right: -100%;
}

.menu_mobile_inner {
  padding: 10em 2em 6em 2em;
}

.scheme_dark .menu_side_inner, .scheme_dark .menu_mobile_inner {
  background-color: rgba(10,10,10,0.85)
}

.menu_mobile .menu_mobile_nav_area ul li {
  font-weight: 700;
  padding-right: .5rem;
}

.menu_mobile .menu_mobile_nav_area li.menu-item-has-children>a {
  padding-right: 0;
}

.menu_mobile .menu_mobile_nav>.menu-item {
  border-bottom: 1px solid #e39a31;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.menu_mobile .menu_mobile_nav>.menu-item:last-child {
  margin-right: 0;
  border-bottom: none;
  border-right: none;
}

.open_child_menu {
  display: none;
}

.menu_mobile .menu_mobile_nav_area ul .sub-menu li {
  font-weight: 300;
  padding-right: 0rem;
}

.menu_mobile .menu_mobile_nav_area ul ul {
  display: block !important;
  margin-left: .5rem;
}

.menu_mobile .socials_mobile {
  position: static;
  margin: 0;
}

@media (min-width: 959px) {
  .menu_mobile .menu_mobile_nav_area ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .menu_mobile .menu_mobile_nav>.menu-item {
    margin-right: .5rem;
    border-right: 1px solid #e39a31;
    border-bottom: none;
  }
}

@media (min-width: 1300px) {
  .menu_mobile_inner {
    padding: 10em 9em 6em 9em;
  }
}
/*Menu END*/

/*Header Slider START*/
.menu_style_side .wrap.header-slider {
  width: 100%;
}

.scheme_default .tp-bullets.custom .tp-bullet {
  border-color: #fff;
}

.scheme_default .tp-bullets.custom .tp-bullet.selected {
  border-color: #fff;
  background-color: #fff;
}

.logo_footer_wrap_inner img {
  height: 80px;
}

.logo img {
  height: 80px;
}

header .menu_main_wrap {
  background-color: rgba(255,255,255,0.6);
  padding: .2rem;
}

.wrap.header-slider .tp-parallax-wrap {
  width: 100%;
  position: static !important;
}

.wrap.header-slider .tp-parallax-wrap .tp-loop-wrap {
  position: static !important;
}

.wrap.header-slider .tp-parallax-wrap .tp-loop-wrap .tp-mask-wrap {
  /* position: static !important; */
  width: 100% !important;
  height: 100% !important;
  top: 0;
}

.wrap.header-slider .tp-parallax-wrap .tp-loop-wrap .tp-mask-wrap h1 {
  top: 50%;
  width: 80%;
  margin: 0 auto !important;
}

.wrap.header-slider .tp-parallax-wrap .tp-loop-wrap .tp-mask-wrap img {
  width: 100% !important;
  height: auto !important;
}

.wrap.header-slider h1.tp-caption.shop_slider_title {
  width: 100%;
  max-width: 100% !important;
  text-align: center;
}

.wrap.header-slider h1.tp-caption.shop_slider_title a.shop-title-link {
  color: #fff;
}

/* .menu_mobile_button {
  display: block !important;
} */